@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
body {
    padding: 0px;
    margin: 0px;
    background-color: #DCC288;
    overflow-x: hidden;
    
}

header, footer {
    position: relative;
    margin: -1em;
    color: white;
    text-align: center;
}

#main-container {
    background-image: url("../assets/river.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 500px;
    padding-top: 30px;
}

header h2 {
    font-size: 3em;
    font-weight: 200;
    font-family: 'Luckiest Guy', cursive;
    color: #f5f2ef;
}

#salmon {
  background-color:#6c6e7b7a;
  width: 45%;
  height: 260px;
  padding: 1em;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  color: #172424;
}

#salmon img {
    width: 50%;
    height: 150px;
    margin-top:-40px;
}

/* Sales page */
.store {
    display: inline-block;
    padding: 2em;
    margin-top: 100px;
    margin-left: 20px;
}
.store h2 {
    text-align: center
}

#sales-header {
    text-align: center;
    font-weight: 300;
}

table {
    margin: 0 auto 0 auto;
}

th {
    padding:5px;
}

td {
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    background: rgb(250, 255, 178);
}
tr > th {
    background: #7F595E;
    color:rgba(251, 243, 229, 0.986);
}

label {
    display:block;
}

#main-area {
    position: relative;
    margin: 0 auto 0 auto;
    width: 25%;
}
#cookie-form {
    border-radius: 10px;
    background: #ccc;
    padding: 2em;
    margin-bottom: 1.5em;
}
#form-submit {
    width:80px;
    margin-top: 7px;
    float:right;
}
.input-fields {
    display: block;
    padding: 5px;
    width:150px;
}