@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Knewave');
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Luckiest Guy', cursive;
    background-color: #2a2b2f;
}

a {
    text-decoration: none;
    color: #f5f2ef;
}
a:hover {
    color: rgba(255, 93, 72, 0.876);
}

header {
    padding: 1em;
    margin-top: -2em;
    height: 200px;
    width: 100%;
}

footer {
    position: relative;
    margin: -1em;
    color: white;
    text-align: center;
}

#banner {
    position: relative;
    background-image: url("../assets/river.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 300px;
}
#banner h3 {
    font-size: 45px;
    font-weight: lighter;
    font-family: 'Knewave', cursive;
    color: #f5f2ef;
    word-spacing: 10px;
    position: absolute;
    top: 20px;
    left: 25%;
}
#banner .salmon-btn {
    position: absolute;
    top: 210px;
    left: 45%;
}
.salmon-btn {
    padding: 1em;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
}
.salmon-btn:focus {
    outline: none;
}
.salmon-btn:hover {
    background: rgb(240, 81, 81);
    color:#fff;
}
.middle-content .salmon-btn {
    margin-left: 100px;
}
.middle-content img {
    margin-bottom: 30px;
    width: 100%;
    height: 315px;
    border: 1px solid #2a2b2f;
    border-radius: 3px;
}

#middle-container {
    width: 100%;
    height: 500px;
    margin: -20px auto 50px;
}
#middle-content-containter {
    position: relative;
    width: 85%;
    height: 520px;
    margin: 80px auto 22px;
}

.middle-content {
    float: left;
    width: 310px;
    padding: 1em;
    margin: 15px 30px;
    background: #fff;
}

.middle-content h3 {
    width: 80px;
    font-size: 25px;
}

header h2 {
    position: absolute;
    top: 20px;
    left: 50px;
    font-weight: 200;
    font-family: 'Luckiest Guy', cursive;
    color: #f5f2ef;
    display: inline-block;
}

#logo {
    display: inline-block;
    position: relative;
    background-color: #ebeeff7a;
    width: 13%;
    height: 170px;
    margin: 25px auto 0 auto;
    border-radius: 48%;
    color: #172424;
}
nav {
    float: right;
    position: absolute;
    top: 130px;
    left: 80%;
}

nav ul > li {
    float: left;
    color:#969696;
    list-style: none;
    padding-right: 8px;
    font-size: 25px;
}

#logo img {
    width: 90px;
    position: absolute;
    top: 120px;
    left: 50px;
}

/* Sales page */
.store {
    display: inline-block;
    padding: 2em;
    margin-top: 100px;
    margin-left: 20px;
}
.store h2 {
    text-align: center
}

#sales-header {
    text-align: center;
    font-weight: 300;
}

table {
    margin: 0 auto 0 auto;
}

th {
    padding:5px;
}

td {
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    background: rgb(250, 255, 178);
}
tr > th {
    background: #7F595E;
    color:rgba(251, 243, 229, 0.986);
}

label {
    display:block;
}

#main-area {
    position: relative;
    margin: 0 auto 0 auto;
    width: 25%;
}
#cookie-form {
    border-radius: 10px;
    background: #ccc;
    padding: 2em;
    margin-bottom: 1.5em;
}
#form-submit {
    width:80px;
    margin: 3px auto;
    float:right;
}
fieldset {
    border-radius: 3px;
    border-color: rgb(128, 126, 117);
    margin-bottom: 10px;
}
.input-fields {
    display: block;
    padding: 5px;
    width:150px;
    margin: 6px auto;
}